.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.square {
    height: 200px;
    width: 200px;
    border:solid  whitesmoke 1px;
}

.hit{
    background-image: url('hit.png');
    background-size: cover;
}