body{
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
    margin: 15px;
    
}
h2 {
    color: white;
}
.hit{
    display: block;
    text-align: left;
    margin: 5px;
    padding: 10px;
   
}
.result, .left{
    display: inline;
    text-align: left;
}

.timer{
    margin: 5px;
    padding: 10px;
    display: block;
    text-align:left;
    
}

.container {
    top: 50%;
    left: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-items: end;
    align-content: center;
    justify-self: center;
}

.square {
    height: 200px;
    width: 200px;
    border:solid white 1px;
}

.venom{
    background-image: url('hit.png');
    background-size: cover;
}